snippet fragment-color "red/green/blue"
<font class="fragment highlight-${1:red}">${VISUAL}</font>
endsnippet

snippet fragment-current-color "red/green/blue"
<font class="fragment highlight-current-${1:red}">${VISUAL}</font>
endsnippet

snippet color "color"
<font style="color:${1:red}">${VISUAL}</font>
endsnippet

snippet font 
<p style="font-size: ${1:40}%">${VISUAL}</p>
endsnippet
