/* code block */

.hljs {
    background-color: #424242 !important;
}

.inline-code { 
    background-color: #424242 !important;
}

h1 {
    color: #7bed9f !important;
}

h2 {
    color: #4dd0e1 !important;
}
