zoom_in             =
zoom_out            -

## lock horizontal scroll, usefull when using laptop touchpads
toggle_horizontal_scroll_lock <S-s>

# This enable the view left and right in a multi-column PDF like a paper, etc 
goto_left    <S-)>
goto_right  0

# This will regard the empty space.
goto_left_smart <S-h>
goto_right_smart <S-l>

# Rotate the view of all document pages.
rotate_counterclockwise e
rotate_clockwise r
